*

!/Examples/
!/Examples/**
!/docs/
!/docs/**


!/Assets/
!/Assets/**
!/ProjectSettings/
!/ProjectSettings/**
!/.gitignore
!/.gitattributes
!/LICENSE.md
!/README*
!/build.bat
!/.github/
!/.github/**
!/plugins/
!/plugins/**
/plugins/**/bin
/plugins/**/obj

/Assets/generatedFiles/
/Assets/Packages/

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

/**/.idea/
/**/.vs/
/**/*.sln.*
