*

!/Examples/
!/Examples/**
!/docs/
!/docs/**


!/Assets/
!/Assets/**
!/ProjectSettings/
!/ProjectSettings/**
!/.gitignore
!/.gitattributes
!/LICENSE.md
!/README*

/Assets/generatedFiles/
/Assets/Packages/

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta